.navbar-style{
    background-color: #FFCE8D;
}

.navbar-light .navbar-toggler{
    color: #FFCE8D;
    border-color: #FFCE8D;
}

.mr-auto.form-control:focus {
    color: #495057;
    background-color:#fff;
    border-color:#6F461F;
    outline: 0;
    box-shadow: none;
}

@media screen and (max-width:800px){
    .buscar-web{
        display: none;
    }
}

@media screen and (min-width:800px){
    .buscar-mobile.navbar-nav {
        display: none;
    }
}