.Fondo{
    position: fixed;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.Logo{
    position: absolute;
    width: 311px;
    height: 311px;
    left: 500px;
    top: 0px;
}

/* .Label-Registracion{

    position: absolute;
    width: 283px;
    height: 40px;
    left: 535px; 
    top: 300px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;

    color: #6F461F;
} */

.idusuario{
    position: absolute;
    width: 260px;
    height: 40px;
    left: 525px;
    top: 350px;
    
    background: #E5E5E5;
    border-radius: 50px;
}

.Contraseña{
    position: absolute;
    width: 260px;
    height: 40px;
    left: 525px;
    top: 400px;

    background: #E5E5E5;
    border-radius: 50px;
}
.repetirContraseña{
    position: absolute;
    width: 260px;
    height: 40px;
    left: 525px;
    top: 450px;
    
    background: #E5E5E5;
    border-radius: 50px;
    }

.btn-registrar{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 555px;
    top: 500px;
    
    background: #6F461F;
    border-radius: 50px;
} 